[%# Content for the Orthologs Tab -%]

<script>
    $(document).ready(function() {
        $("#table_20").tablesorter();
    	$("#table_21").tablesorter({sortList: [[0,0], [1,0]]});
    	$("#table_22").tablesorter({sortList: [[0,0], [1,0]]});
    })

  $(function() {
    $(".pattern_link").tooltip();
  });

</script>

[% BLOCK table_row %]
    <tr>
        [% PROCESS table_cols peak = peak class = class nc = nc peaks = peaks table_id = table_id n_peaks = n_peaks -%]
    </tr>
[% END -%]

[% BLOCK table_cols -%]
    [% FOREACH col = peak -%]
        [% str_idx = loop.count + 3 %]

        [% IF table_id == "avg" -%]
            [% IF class =="header" -%]
                <th class="[% class %]">[% col %]</th>
            [% ELSIF class == "shared" && loop.count > nc -%]
	        [% IF (col / n_peaks) >= 0.5 %]
                    <td style="background: rgba(102,0,204,[% col / n_peaks %]); color: white">[% col %]</td>
                [% ELSE %]
                    <td style="background: rgba(102,0,204,[% col / n_peaks %])">[% col %]</td>
                [% END %]
            [% ELSIF class == "mouse" && loop.count > nc -%]
                [% IF (col / n_peaks) >= 0.5 %]
                    <td style="background: rgba(255,0,0,[% col / n_peaks %]); color: white">[% col %]</td>
                [% ELSE %]
                    <td style="background: rgba(255,0,0,[% col / n_peaks %])">[% col %]</td>
                [% END %]
            [% ELSIF class == "human" && loop.count > nc -%]
                [% IF (col / n_peaks) >= 0.5 %]
                    <td style="background: rgba(0,0,255,[% col / n_peaks %]); color: white">[% col %]</td>
                [% ELSE %]
                    <td style="background: rgba(0,0,255,[% col / n_peaks %])">[% col %]</td>
                [% END %]
            [% ELSE %]
                <td class="[% class %]" style="background: #ddd">[% col %]</td>
            [% END -%]

	[% ELSE -%]
	    [% IF class =="header" -%]
                <th class="[% class %]">[% col %]</th>
            [% ELSIF class == "mouse" && loop.count > nc -%]
	        [% IF loop.count == 5 -%]
		    [% IF col == "." %]
    		        <td class="[% class %]" style="background: rgba(0,0,255,0)">[% col %]</td>
		    [% ELSE %]
                        <td class="[% class %]" style="background: rgba(0,0,255,0.1)"><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=[% col %]" target="_blank">[%col %]</a></td>
		    [% END %]
                [% ELSIF loop.count >= 8 -%]
		    [% IF col == "." || col == "0" %]
                        <td class="[% class %]" style="background: rgba(255,0,0,0)">[% col %]</td>
		    [% ELSIF loop.count > 8 %]
		   	 [%# Hidden Columns -- do nothing %]
		    [% ELSE %]
		        <td class="[% class %]" style="background: rgba(255,0,0,0.1)"><a class="pattern_link" href="javascript:void(0);" title="[% peak.$str_idx %]">[% col %]</a></td>
		    [% END %]
		[% ELSE -%]
		    [% IF col == "." || col == "0" %]
                        <td class="[% class %]" style="background: rgba(0,0,255,0)">[% col %]</td>
		    [% ELSE %]
		        [% IF loop.count == 4 %]
			    <td class="[% class %]" style="background: rgba(0,0,255,0.1)">[% col %]</td>
			[% ELSE %]
                    	    <td class="[% class %]" style="background: rgba(0,0,255,0.1)"><a class="pattern_link" href="javascript:void(0);" title="[% peak.$str_idx %]">[% col %]</a></td>
			[% END %]
		    [% END %]
		[% END -%]
            [% ELSIF class == "human" && loop.count > nc -%]
	        [% IF loop.count == 5 -%]
		    [% IF col == "." %]
                        <td class="[% class %]" style="background: rgba(255,0,0,0)">[% col %]</td>
                    [% ELSE %]
                        <td class="[% class %]" style="background: rgba(255,0,0,0.1)"><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=mm9&position=[% col %]" target="_blank">[% col %]</a></td>
    		    [% END %]
		[% ELSIF loop.count >= 8 || loop.count == 4 -%]
		    [% IF col == "." || col == "0" %]
                        <td class="[% class %]" style="background: rgba(255,0,0,0)">[% col %]</td>    
		    [% ELSIF loop.count > 9 %]
		        [%# Hidden Columns -- do nothing %]
		    [% ELSIF loop.count == 4 %]
		        <td class="[% class %]" style="background: rgba(255,0,0,0.1)">[% col %]</td>
		    [% ELSE %]
                    	<td class="[% class %]" style="background: rgba(255,0,0,0.1)"><a class="pattern_link" href="javascript:void(0);" title="[% peak.$str_idx %]">[% col %]</a></td>
		    [% END %]
                [% ELSE -%]
		    [% IF col == "." || col == "0" %]
		        <td class="[% class %]" style="background: rgba(0,0,255,0)">[% col %]</td>
		    [% ELSE %]
                        <td class="[% class %]" style="background: rgba(0,0,255,0.1)"><a class="pattern_link" href="javascript:void(0);" title="[% peak.$str_idx %]">[% col %]</a></td>
		    [% END %]
		[% END -%]
            [% ELSE -%]
	        [% IF loop.count == 2 %]
		    [% IF class == "human" %]
		        <td class="[% class %]" style="background: #ddd"><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=[% col %]" target="_blank">[% col %]</a></td>
		    [% ELSE %]
		        <td class="[% class %]" style="background: #ddd"><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=mm9&position=[% col %]" target="_blank">[% col %]</a></td>
		    [% END %]
		[% ELSE %]
		        <td class="[% class %]" style="background: #ddd">[% col %]</td>
	        [% END %]
            [% END -%]
	[% END -%]
    [% END -%]
[% END -%]

<p style="text-align: right; float: right;">
    <a class="tab_info" name="2" href="javascript:void(0);" title="About This Tab"><img src="[% c.uri_for('/static/images/info.png') %]" width=25 height=25></a>
</p>

[% PROCESS "row_select.tt2" %]

<p>Averages<br/>
<table id="table_20" class="peakdata tablesorter">
    <thead>
    [% PROCESS table_row peak = orthologs.s_header class = "header" nc = 0 table_id = "avg" n_peaks = peaks.n_peaks -%]
    </thead>
    <tbody>
    [% PROCESS table_row peak = orthologs.total class = "shared" nc = 1 peaks = orthologs table_id = "avg" n_peaks = orthologs.npeaks -%]
    [% PROCESS table_row peak = orthologs.total_mm9  class = "mouse" nc = 1 peaks = orthologs table_id = "avg" n_peaks = orthologs.npeaks -%]
    [% PROCESS table_row peak = orthologs.total_CH12  class = "mouse" nc = 1 peaks = orthologs table_id = "avg" n_peaks = orthologs.npeaks -%]
    [% PROCESS table_row peak = orthologs.total_MEL  class = "mouse" nc = 1 peaks = orthologs table_id = "avg" n_peaks = orthologs.npeaks -%]
    [% PROCESS table_row peak = orthologs.total_hg19  class = "human" nc = 1 peaks = orthologs table_id = "avg" n_peaks = orthologs.npeaks -%]
    [% PROCESS table_row peak = orthologs.total_GM12878  class = "human" nc = 1 peaks = orthologs table_id = "avg" n_peaks = orthologs.npeaks -%]
    [% PROCESS table_row peak = orthologs.total_K562 class = "human" nc = 1 peaks = orthologs table_id = "avg" n_peaks = orthologs.npeaks -%]
    </tbody>
</table>
</p>

<p>Mouse Peaks<br/>
<table id="table_21" class="peakdata tablesorter">
    <thead>
    [% PROCESS table_row peak = orthologs.p_header class = "header" nc = 0 table_id = "mouse" -%]
    </thead>
    <tbody>
        <!-- Hidden row to avoid triggering tablesorter empty table bug -->
        <tr class="hidden"><td>A</td><td>A</td><td>0</td><td>A</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
    [% FOREACH row = orthologs.peaks_mm9 -%]
        [% PROCESS table_row peak = row  class = "mouse" nc = 3 peaks = orthologs table_id = "mouse" -%]
    [% END -%]
    </tbody>
</table>
</p>

<p>Human Peaks<br/>
<table id="table_22" class="peakdata tablesorter">
    <thead>
    [% PROCESS table_row peak = orthologs.p_header class = "header" nc = 0 table_id = "human" -%]
    </thead>
    <tbody>
	<!-- Hidden row	to avoid triggering tablesorter	empty table bug	-->
        <tr class="hidden"><td>A</td><td>A</td><td>0</td><td>A</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
    [% FOREACH row = orthologs.peaks_hg19 -%]
        [% PROCESS table_row peak = row  class = "human" nc = 3 peaks = orthologs table_id = "human" -%]
    [% END -%]
    </tbody>
</table>
</p>
