* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#main {
    max-width: 1300px;
    margin: 0 auto;
}
#header {
    text-align: center;
}
#header h1 {
    margin: 0;
    padding: 0 0 1em 0;
}
#header img {
    float: right;
}
#footer {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
    clear: both;
}

#wrapper{
    float:left;
    width: 200px
}
#tabs {
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
/*#mapblock p {
    text-align: center;
}*/
#searchform {
    margin-left: 200px;
}
#groupsubmit {
    clear: both;
}

table.go_data {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 75%;    
    width: 100%;
    text-align: left;
}

table.in_text {
    border: 1px solid black;
    border-collapse: collapse;
}

.mm9_go {
    width: 50%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
.hg19_go {
    width: 50%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

/* Menu Code */
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
    border: 1px solid silver;
    border-width: 1px 1px 1px 3px;
    position: relative;
    margin: 0;
    padding: 0;
}
ul ul {
    display: none;
}
ul li:hover > ul {
    display: block;
    position: absolute;
    /* Make sure menus are always on top! */
    z-index: 99;
    top: -1px;
    left: 100%;
}
ul li a {
    display: block;
    padding: 5px 7px;
    text-decoration: none;
    background: #FFF;
}
li.sub > a {
    font-weight: bold;
    background: #FFE;
}

ul#menu > li:hover > ul {
    top: 1.5em;
    left: -3px;
}

#menu {
    float: left;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#menu > ul {
    width: 9em;
    margin-left: -1px;
    font-size: 85%;
    text-align: right;
    list-style: none;
}
#menu ul {
    border: 1px solid silver;
    border-width: 0 1px 0 0;
}
#menu ul li {
    border-width: 0;
    border-color: white;
    padding: 0 0 0 5px;
    line-height: 1.25em;
}
#menu ul ul {
    border-width: 1px 1px 1px 1px;
    border-color: gray silver gray gray;
    list-style: none;
}
#menu ul ul li {
    width: 12em;
    border-color: #FEFEFC;
}
#menu li > a {
    background-color: #FFF;
    padding: 3px;
    text-decoration: none;
}
#menu li:hover {
    background-color: #E6E6E6;
}
#menu li.sub:hover {
//    border: 1px solid gray;
    background: #E6E6E6;
}
#menu li:hover > a {
    color: #C70039;
}
#menu li.sub:hover > a {
    color:  #C70039;
}
#menu li.sub:hover > ul {
    background: #FEFEFC;
}
/* End Menu Code */

#mapblock {
    float: left;
    width: 800px;
    margin: 0 0 0 10px;
}
div.mapblock {
    float: left;
    width: 800px;
    height: 460px;
    margin: 0 0 0 10px;
}

div[id^="neuronsummary"] {
    float: left;
    width: 300px;
    padding-left: 10px;
}

#neurondetails {
    clear: left;
}

#content {
    margin-left: 120px;
}
#helpcontent {
    margin-left: 50px;
}
#welcome {
    margin: 0 150px 0 150px;
}
.message {
    color: #390;
}
.error {
    color: #f00;
}
.centeredbody {
    text-align: center;   
}
.centeredbold {
    text-align: center;
    font-weight: bold;
}
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.neurondetail {
    border: 1px solid black;
    width: 300px;
}
td {
    border: 1px solid black;
}
td.cat {
    font-weight: bold;
    text-align: right;
    font-size: 80%;
}
td.val {
    text-align: center;
    padding: 0 10px 0 10px;
    font-size: 80%;
}
table.peakdata {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 8pt;
    width: 100%;
}
td.shared {
    text-shadow:
        -0.75px -0.75px 0 rgba(255,255,255,0.4),
        0.75px -0.75px 0  rgba(255,255,255,0.4),
        -0.75px 0.75px 0 rgba(255,255,255,0.4),
        0.75px 0.75px 0 rgba(255,255,255,0.4);
}
.header {
    background: #aaa;
    border: 1px solid #000;
    padding: 4px;
    font-size: 8pt;
}
td.human {
    text-shadow:
        -0.75px -0.75px 0 rgba(255,255,255,0.4),
        0.75px -0.75px 0  rgba(255,255,255,0.4),
        -0.75px 0.75px 0 rgba(255,255,255,0.4),
        0.75px 0.75px 0 rgba(255,255,255,0.4);
}
td.mouse {
    text-shadow:
   	-0.75px -0.75px 0 rgba(255,255,255,0.4),
    	0.75px -0.75px 0  rgba(255,255,255,0.4),
    	-0.75px 0.75px 0 rgba(255,255,255,0.4),
     	0.75px 0.75px 0 rgba(255,255,255,0.4);
}
.searchTemplate {
    float: left;
    display: none;
}
.orderTemplate {
    float: left;
    display: none;
}
.remove_field {
    text-decoration: none;
}
.button {
    background-color: #66CCFF;
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.compBuild {
    float: left;
}
#container {
/*    float: left; */
}
#container2 {
    clear: both;
}
.vertical-text {
    transform: rotate(70deg);
    transform-origin: right bottom 0;
    float: left;
}
.ui-tooltip {
    display: inline-block;
    padding: 4px;
}
.hidden {
    display: none;
}
.summary_load_msg {
    font-weight: bold;
    text-align: center;
}
.big_red_bold {
    font-weight: bold;
    font-size: 18pt;
    color: #E63900;
}
a.disabled {
    pointer-events: none;
    color: black;
    text-decoration: none;
}
a:hover {
    color: #C70039;
}
.content_main {
    text-align: left;
}
p.indented {
    margin-left: 25px;
}
img.help_img {
    border: 1px solid;
    float: right;
}