<p>
    This tab shows the coverage of each module by DNase I Hypersensitive sites, which mark regions of open chromatin. These indicate regions that are in active use as regulatory sequences and those that are actively transcribed.
</p>