<p>
    This tab describes the orthology relationships between peak sequences in this dataset: i.e., whether each peak has orthologous sequence in the other species and, if so, where it is located. Also included are data on whether each peak is bound by transcription factor(s) in each cell type and, if so, the pattern assigned to that peak by the SOM algorithm. This gives a view of the similarities and differences in peak and within-peak factor-usage between these four cell types, highlighing cell-specific patterns and changes in the regulatory landscape between human and mouse.<p>Within the results tables, hovering the mouse over links in the columns \"GM12878 Pat\", \"K562 Pat\", \"CH12 Pat\", and \"MEL Pat\" columns will show the string of transcription factors contributing significantly to each pattern.
</p>