<p>
    This tab describes the transcription factors that contribute to this pattern. Transcription factors designated as consititutive to this pattern are described in the pattern summary table. However, other factors may be present at lower frequencies and these are included in the tables within this tab.
</p>
