<p class="centeredbold">About the SOM Browser</p>
<p class="content_main">The Boyle Lab Human-Mouse Self-Organizing Map (SOM) Browser is a visualization and analysis tool based on data presented by us in (manuscript reference here). The SOM Browser was written by Adam Diehl as a way to intuitively view, search, and compare various features and annotations of the SOM dataset. Graphical and tabular data views are available to view and compare different types of annotations, and the search function allows construction of customized queries against the data.</p>
<p class="content_main">The SOM Browser is based upon the <a href="http://www.catalystframework.org/" target="blank_">Catalyst MVC framework</a> and uses a mySQL database to house the data. Those who wish to mirror the browser locally or obtain direct database access can download the components and installation scripts from our <a href="https://github.com/Boyle-Lab/SOM-Browser" target="blank_">github repository</a>.</p>
