<p class="centeredbold">About the Human-Mouse Cis-Regulatory Module Browser</p>
<p class="content_main">The Human-Mouse Cis-Regulatory Module Browser Browser is a visualization and analysis tool for data initially presented in “Transcription factor co-binding patterns drive conserved regulatory outcomes” (reference), prepared in Alan Boyle's lab at the University of Michigan. Data represent shared and species-specific gene regulatory grammar learned from ChIP-seq data from four human and mouse cell types. The Browser was written by Adam Diehl as a way to view, search, and compare various features and annotations of these data. Graphical and tabular data views are available to view and compare different types of annotations, and the search function allows construction of customized queries against the dataset.</p>
<p class="content_main">The SOM Browser is based upon the <a href="http://www.catalystframework.org/" target="blank_">Catalyst MVC framework</a> and uses a mySQL database to house the data. Those who wish to mirror the browser locally or obtain direct database access can download the components and installation scripts from our <a href="https://github.com/Boyle-Lab/SOM-Browser" target="blank_">github repository</a>.</p>
