<p class="centeredbold">Getting Help</p>
<p>All inquiries, suggestions and bug reports regarding the browser and its content should be addressed to Adam Diehl:</p>
<p class="indented"><a href="mailto:adadiehl@umich.edu">adadiehl@umich.edu</a></p>
<p>Questions and comments regarding the article "Transcription factor colocalization patterns drive conserved regulatory outcomes" (ref goes here) can be directed to the corresponding author, Alan Boyle:</p>
<p class="indented"><a href="mailto:apboyle@umich.edu">apboyle@umich.edu</a></p>