<p class="centeredbold">Navigation</p>
<p id="intro">Getting Started</p>
<p></p>
<p id="sorting">Sorting Data Tables.</p>
<p id="compare">Comparing Maps.</p>
<p id="search">Search</p>
<p id="sharing">Sharing and Bookmarking Browser Pages</p>
